* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f1f1f1;
}

.container{
    position: relative;
    width: 850px;
    height: 550px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
}

.form-box{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: seagreen;
    display: flex;
    align-items: center;
    color: #f1f1f1;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}

.login {
    right: 0;
}

.register {
    display: none;
}

form{
    width: 100%;
}

.container h1{
    font-size: 36px;
    margin: 15px 0;
    color: #fff;
}

.form-grup {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.form-grup label{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-grup input{
    display: flex;
    align-self: center;
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500 ;
}

.form-grup input::placeholder{
    color: #888;
    font-weight: 400;
}

.form-grup svg {
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 20px;
    color: #888;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.bi-eye-slash-fill {
    display: none;
}

.forget-password{
    margin-bottom: 15px;
}

.forget-password a {
    font-size: 16px;
    color: #f1f1f1;
    text-decoration: none;
}

.container .loginBtn {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.container p {
    font-size: 20px;
    text-transform: lowercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sosial-icons a {
    display: inline-flex;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    text-decoration: none;
    color: #333;
    margin-right: 10px;
}

.sosial-icons a svg {
    width: 24px;
    height: 24px;
}

