*{
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    min-height: 100vh;
}

.sidebar{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:  #111827;
    width: 260px;
    height: 707px;
    padding: 24px;
}

.header a {
    text-decoration: none;
}

.header span{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

